@import "reset.scss";

@supports (font-variation-settings: normal) {
  @font-face {
    font-family: "SourceSerif Variable";
    src: url("../fonts/SourceSerif4-Variable-subset.woff2") format("woff2");
    font-weight: 1 999;
    font-display: swap;
  }

  @font-face {
    font-family: "SourceSerif Variable Italic";
    src: url("../fonts/SourceSerif4-Variable-italic-subset.woff2")
      format("woff2");
    font-weight: 1 999;
    font-display: swap;
  }
}

@font-face {
  font-family: "SourceSerif Static";
  src:
    url("../fonts/SourceSerif4-static-subset.woff2") format("woff2"),
    url("../fonts/SourceSerif4-static-subset.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MontaguSlab Bold";
  src: url("../fonts/MontaguSlab-Bold-subset.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}

:root {
  --body-background: #24283b;
  --body-color: #c0caf5;
  // --main-background: #24283b;
  --hero-color: #bb9af7;
  --action-color: #ff9e64;
  --action-hover-color: #f7768e;
  --action-focus-color: #8c4351;
  --quote-background: #414868;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family:
    "SourceSerif Static",
    -apple-system,
    Times New Roman,
    serif;
  @supports (font-variation-settings: normal) {
    font-family:
      "SourceSerif Variable",
      -apple-system,
      Times New Roman,
      serif;
  }
  margin: 0 auto;
  padding: 0 22px;
  // font-size: 108%;
  font-size: 17px;
  line-height: 1.5;
  max-width: 42rem;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: #ffb088;
}

a:hover {
  color: var(--action-hover-color);
}

a:focus {
  color: var(--action-focus-color);
}

h1,
h2,
h3,
h4 {
  font-family:
    "MontaguSlab Bold",
    -apple-system,
    Times New Roman,
    serif;
  color: var(--body-color);
  margin: 0 0 0.5rem;
}

h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.7rem;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: var(--body-color);
}

em,
i {
  font-style: italic;

  @supports (font-variation-settings: normal) {
    font-family: "SourceSerif Variable Italic";
  }
}

img {
  display: block;
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
}

blockquote {
  background: var(--quote-background);
  margin: 1rem 0;
  padding: 12px 24px;
  font-style: italic;

  @supports (font-variation-settings: normal) {
    font-family: "SourceSerif Variable Italic";
  }
}

blockquote > footer {
  margin-bottom: 0;
  font-style: italic;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

body > header {
  margin: 1rem;
  text-align: center;
}

body > header img {
  display: inline-block;
  width: 400px;
  max-width: 100%;
}

nav {
  margin: 1rem 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

a:hover {
  color: var(--action-hover-color);
}

a:focus {
  color: var(--action-focus-color);
}

main {
  margin: 0 auto 4rem;
  min-height: calc(100vh - 200px);
}

footer {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1em;
}

hr {
  border: none;
  border-top: 2px dotted #bbb;
  margin: 3rem 0;
}

.hero {
  font-family:
    "MontaguSlab Bold",
    -apple-system,
    Times New Roman,
    serif;
  font-size: 2rem;
  color: var(--hero-color);
}

.project h1 {
  display: inline-block;
  font-size: 1.5rem;
}

.project + .project {
  margin-top: 1rem;
}

p + p {
  margin-top: 1rem;
}

p + h1,
p + h2,
p + h3,
p + h4 {
  margin-top: 1rem;
}
